/*----------------------------------------------------------------------------------------------------------------------
Paths
----------------------------------------------------------------------------------------------------------------------*/

$path_fonts: "../assets/fonts";

/*----------------------------------------------------------------------------------------------------------------------
  Fonts
----------------------------------------------------------------------------------------------------------------------*/

// Roboto Text
$R-Regular: "RobotoRegular";
$R-Bold: "RobotoBold";

$fonts: (
  $R-Regular,
  $R-Bold,
);

@each $font in $fonts {
  @font-face {
    font-family: $font;
    src: url('#{$path_fonts}/#{$font}/#{$font}.ttf') format('truetype');
    src:
      url('#{$path_fonts}/#{$font}/#{$font}.woff') format('woff'),
      url('#{$path_fonts}/#{$font}/#{$font}.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
}
